.titulo {
    font-family: 'Allan';
    font-size: 40px;
    text-align: center !important;
}

.nav_title {
    font-family: 'Allan';
}

.navbar {
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
}

.bold {
    font-weight: bold;
}

.formulario{
    margin-top:15px;
}

.boton_enviar{
    margin-top:15px;
    text-align: center!important;
    background-color: #B71D1D;
    border-color:#F34336;
    font-weight: bold;
}

.boton_enviar:hover{
    margin-top:15px;
    text-align: center!important;
    background-color: #F34336;
    border-color: #B71D1D;
    font-weight: bold;
}

.sub-titulo{
    font-weight: bold;
    text-align: center;
}